.sideBarOption{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}
.sideBarOption:hover{
    background-color: #340e36;
    opacity: 0.9;
 }

 .sideBarOption__icon{
    padding: 10px;
    font-size: 15px !important;
 }
 .sideBarOption_channel{
    padding: 10px 0;
 }
 .sideBarOption__hash{
    padding: 10px;
 }